body {
    font-size:1em;
    font-family:monospace, courier;
    background-color:blueviolet;
    cursor: url('C:/Users/lubie/Documents/GitHub/Tymek9.github.io/Tymek9.github.io/assets/icons/4855-necoarc.png');
}
footer {
    overflow:hidden;
}
main { 
    background-color:rgb(162, 83, 236);
    border-radius:10px;
}

.n {
    background-color:gray;
    padding:10px;
}

#sans {
    font-size:1.6em;
    animation-name: lol;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
    padding:10px;
}
#l1 , #l1 a{
    color:white;
    text-decoration:none;
    display:inline-block;
    float:left;
    margin-left:10px;
    margin-right:10px;
}


.navbar {
    list-style-type: none;
    background-color: gray;
    margin-top:0px;
    padding:10px;
    display:block;
    overflow:hidden;
}

.sc1, .sc2 {
    margin:20px;
    padding:10px;
}
.hsc1 {
    margin:20px;
    padding:10px;
}
.divh {
    font-size:1.5em;
}
.honorlist {
    list-style-type: none;
}


.divh:hover {
    text-shadow: 1px 1px 15px white;
}
#l1 a:hover {
    color:violet;
}



@keyframes lol{
    0%{color:red}
    10%{color:rgb(255, 123, 0)}
    20%{color:rgb(251, 255, 0)}
    30%{color:rgb(140, 255, 0)}
    40%{color:rgb(0, 211, 120)}
    50%{color:rgb(0, 173, 216)}
    60%{color:rgb(0, 115, 255)}
    70%{color:rgb(140, 0, 255)}
    80%{color:rgb(194, 0, 204)}
    90%{color:rgb(255, 0, 140)}
    100%{color:rgb(255, 0, 0)}
}

